<!doctype html><html data-wf-page="5fad6545ab11b79f4fb99940" data-wf-site="5f761d2f8f83d1095c859d90" lang="en"><head><style>html{visibility: hidden;opacity:0;}</style>{%- assign item = page | getCurrentPageItem -%}{%- assign pageItem = item -%}
  <meta content="Gallery | Everwood Custom Contracting" property="twitter:title">
  {% include head.html %}
{%- seo seo -%}</head>
<body>
  {% include header.html %}
  <section class="section">
    <div class="container w-container">
      <h1 class="smaller-h1">Recent Work Gallery</h1>
      <div class="line-break"></div>
      <p>Click on a photo to view as a slideshow.</p>
      {%- assign collectionId = "main" -%}{%- assign collection = collections["c_5bf0f58d0611cd7ceeda4c516d9cc34e"][collectionId] -%}<div class="w-dyn-list">
        {%- if collection.length > 0 -%}<div role="list" class="collection-list w-dyn-items">
          {%- for item in collection -%}<div role="listitem" class="w-dyn-item">
            <a href="#" class="w-inline-block w-lightbox"><img loading="lazy" src="{{ item.data['gallery-image'].url | escape }}" alt="{{ item.data.name | escape }}" class="gallery-image">
              <script type="application/json" class="w-json">
                {
                  "items":[{
                    "type": "image",
                    "url": "{{ item.data['gallery-image'].url | escape }}",
                    "caption": ""
                  }],
                  "group": "Recent Work Gallery"
                }
              </script>
            </a>
          </div>{%- endfor -%}
        </div>{%- endif -%}
        {%- unless collection.length > 0 -%}<div class="w-dyn-empty">
          <div>No items found.</div>
        </div>{%- endunless -%}
      </div>
    </div>
  </section>
  <footer id="footer" class="footer">
    <div class="w-container">
      <div class="footer-flex-container">
        <a href="#" class="footer-logo-link w-inline-block"><img src="/static/images/everwoodfooterlogo.png" alt="Everwood Custom Contracting" class="footer-image"></a>
      </div>
      <div>Copyright © Everwood Custom Contracting. All rights reserved.<br>Website by: <a href="https://thecodeloft.ca" class="new-footer-link">CodeLoft Consulting </a>| Photos by: <a href="https://staysunfilms.com/" class="new-footer-link">Stay Sun Films</a>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript" crossorigin="anonymous"></script>
  <script src="/static/js/webflow.js" type="text/javascript" async="" defer=""></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

<script src="/static/js/udesly-11ty.min.js" defer="" async=""></script><script>document.querySelectorAll('link[rel="preload"]').forEach(function(e) { e.rel = "stylesheet" })</script></body></html>