<!doctype html><html data-wf-page="5fad7f27a1566a506cc6fe2d" data-wf-site="5f761d2f8f83d1095c859d90" lang="en"><head><style>html{visibility: hidden;opacity:0;}</style>{%- assign item = page | getCurrentPageItem -%}{%- assign pageItem = item -%}
  <meta content="Patterned Flooring | Everwood Custom Contracting" property="twitter:title">
  {% include head.html %}
{%- seo seo -%}</head>
<body>
  {% include header.html %}
  <section>
    <div class="w-container"><img src="/static/images/patternedheader.jpg" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" srcset="/static/images/patternedheader-p-500.jpeg 500w, /static/images/patternedheader.jpg 1008w" alt="" class="page-image"></div>
  </section>
  <section class="section">
    <div class="container w-container">
      <h1 class="smaller-h1">Patterned and Designer Flooring</h1>
      <div class="line-break"></div>
      <div class="rich-text-container w-richtext">
        <p>We offer exquisitely unique custom-designed flooring that will make a statement. Many options could be better suited to your space as opposed to straight lay or diagonally laid flooring. &nbsp;Pattern flooring can be also be used to accent individual spaces and define areas within a room. </p>
        <p>With patterned flooring, your imagination is the only limit. We also can recreate what you find any where else. We have worked with many designers and homeowners and made their ideas become a reality. </p>
        <p>We have years of experience installing pattern floors and have the confidence to tackle projects that a lot of others won’t. At Everwood, we pay very close attention to detail and take the time to lay out the pattern in the room. You don’t want to be stuck with tiny wood pieces at the end or have your focal points off-center. A properly laid out room will maximize your flooring impact. </p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container w-container">
      <div class="w-layout-grid flooring-showcase-grid"><img src="/static/images/20161103.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 83vw, (max-width: 767px) 84vw, (max-width: 991px) 728px, 940px" srcset="/static/images/20161103-p-500.jpeg 500w, /static/images/20161103-p-800.jpeg 800w" class="flooring-showcase-image">
        <div>
          <h2 class="process-heading">Herringbone</h2>
          <p>This flooring is laid in a zig-zag pattern. The boards are all the same size and are rectangular in shape. The board’s length and width are customized to your room. This design is very traditional and usually suits a European or old-world style home. <br></p>
        </div>
      </div>
      <div class="w-layout-grid flooring-showcase-grid"><img src="/static/images/chevron.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 83vw, (max-width: 767px) 88vw, (max-width: 991px) 728px, 940px" srcset="/static/images/chevron-p-500.jpeg 500w" class="flooring-showcase-image">
        <div>
          <h2 class="process-heading">Chevron or French Herringbone</h2>
          <p>Chevron flooring is very popular on social media and is our most requested patterned floor. The main difference between this design and traditional herringbone is the ends. They are cut at a 45⁰ angle. This makes the pattern look more continuous and modern. </p>
        </div>
      </div>
      <div class="w-layout-grid flooring-showcase-grid"><img src="/static/images/endgrain.jpg" loading="lazy" alt="" class="flooring-showcase-image">
        <div>
          <h2 class="process-heading">End Grain</h2>
          <p>This pattern is very unique. The ends of timbers are cut into slices or tiles. The tiles are then laid down as the patterned floor. This creates a beautiful look that will make a dramatic impression. </p>
        </div>
      </div>
      <div class="w-layout-grid flooring-showcase-grid"><img src="/static/images/random.jpg" loading="lazy" alt="" class="flooring-showcase-image">
        <div>
          <h2 class="process-heading">Random Width</h2>
          <p>With this pattern, the floorboards have different widths and are laid down in rows. The boards can be customized to your liking. This look is rustic and subtle, making it a one-of-a-kind design. </p>
        </div>
      </div>
      <div class="w-layout-grid flooring-showcase-grid"><img src="/static/images/EmilyPushlinchw_100.jpg" loading="lazy" alt="" class="flooring-showcase-image">
        <div>
          <h2 class="process-heading">Combine Tile and Wood</h2>
          <p>There are many ways to use this style, like using hardwood borders to frame tiled inlays. Utilizing hexagon tile and having it wander out into hardwood. Or even hardwood surrounding tiled kitchen mats. If you have an idea, we can make it work. </p>
        </div>
      </div>
      <div class="w-layout-grid flooring-showcase-grid"><img src="/static/images/basket.jpg" loading="lazy" alt="" class="flooring-showcase-image">
        <div>
          <h2 class="process-heading">Basketweave or Versailles</h2>
          <p>This pattern is traditionally featured in grand buildings in Europe, particularly in France. As a result, basketweave or interwoven wood flooring is commonly associated with wealth and luxury. We handcraft these patterns cutting and joining each piece so that the boards appear to weave under one another. This pattern radiates a feeling of quality and charm.&nbsp;&nbsp;</p>
        </div>
      </div>
      <div class="w-layout-grid flooring-showcase-grid"><img src="/static/images/2019.jpg" loading="lazy" alt="" class="flooring-showcase-image">
        <div>
          <h2 class="process-heading">Borders, Inlays, and Fireplace Framing</h2>
          <p>To add subtle touches on your straight lay floor we can add borders, inlays, or frame out around your fireplace. Everything is completely customizable. We can use different widths, decide how far out the border will come, add more details to the joints, and experiment with different species of wood. This will add character and individuality to your flooring. </p>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer" class="footer">
    <div class="w-container">
      <div class="footer-flex-container">
        <a href="#" class="footer-logo-link w-inline-block"><img src="/static/images/everwoodfooterlogo.png" alt="Everwood Custom Contracting" class="footer-image"></a>
      </div>
      <div>Copyright © Everwood Custom Contracting. All rights reserved.<br>Website by: <a href="https://thecodeloft.ca" class="new-footer-link">CodeLoft Consulting </a>| Photos by: <a href="https://staysunfilms.com/" class="new-footer-link">Stay Sun Films</a>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript" crossorigin="anonymous"></script>
  <script src="/static/js/webflow.js" type="text/javascript" async="" defer=""></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

<script src="/static/js/udesly-11ty.min.js" defer="" async=""></script><script>document.querySelectorAll('link[rel="preload"]').forEach(function(e) { e.rel = "stylesheet" })</script></body></html>