<!doctype html><html data-wf-page="5fabefd4befbf910611204fd" data-wf-site="5f761d2f8f83d1095c859d90" lang="en"><head><style>html{visibility: hidden;opacity:0;}</style>{%- assign item = page | getCurrentPageItem -%}{%- assign pageItem = item -%}
  <meta content="Testimonials | Everwood Custom Contracting" property="twitter:title">
  {% include head.html %}
{%- seo seo -%}</head>
<body>
  {% include header.html %}
  <section class="section">
    <div class="container w-container">
      <h1 class="smaller-h1">Testimonials</h1>
      <div class="line-break"></div>
      <div>Don't take our word for it. See what we've done for others nearby.</div>
      <div class="w-layout-grid testimonial-grid">
        <div class="testimonial-container">
          <div class="center"><img src="/static/images/testimonial-sarah.png" loading="lazy" alt="" sizes="(max-width: 479px) 42vw, 200px" srcset="/static/images/testimonial-sarah-p-500.png 500w" class="testimonial-image">
            <h2 class="testimonial-heading">Sarah, Homeowner</h2>
          </div>
          <div>"Our family had the pleasure of working with Everwood Contracting for a complicated stair remodel. We have a custom built home and that brings unique challenges. Garnet came on site, was professional and gave us great feedback on what our options were, taking into account more than just the stairs, how it would impact the existing flooring and handrails. They know there stuff, we were very pleased with the end result. You won't be disappointed with their work or their process. Highly recommend."</div>
        </div>
        <div class="testimonial-container">
          <div class="center"><img src="/static/images/testimonial-tyler.png" loading="lazy" alt="" sizes="(max-width: 479px) 42vw, 200px" srcset="/static/images/testimonial-tyler-p-500.png 500w" class="testimonial-image">
            <h2 class="testimonial-heading">Tyler Harrison - Owner, Harrison + Company</h2>
          </div>
          <div>"Everwood Custom Contracting has worked on several of our projects, all with beautiful results. The clients all have high expectations of their new floors and those expectations are consistently met with Everwood. Garnet and his team are friendly and keep the work site tidy. Both the installation and finish of the floors have been impressive at every project."</div>
        </div>
        <div class="testimonial-container">
          <div class="center"><img src="/static/images/testimonial-MelissaandChris.png" loading="lazy" alt="" sizes="(max-width: 479px) 42vw, 200px" srcset="/static/images/testimonial-MelissaandChris-p-500.png 500w" class="testimonial-image">
            <h2 class="testimonial-heading">Melissa and Chris, Homeowners</h2>
          </div>
          <div>"We are very happy with our new floors! Your team was fantastic- he was kind to the girls, had fantastic work ethic, the floors look great and everything was clean and organized! Please thank him and let him know we are very happy with the end result. We like the floors so much, we are anxious to remedy some if the issues in the living room and main floor as well as replace the terrible ceramic in the kitchen. Thank you again, please use us as a reference- we are very happy."</div>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer" class="footer">
    <div class="w-container">
      <div class="footer-flex-container">
        <a href="#" class="footer-logo-link w-inline-block"><img src="/static/images/everwoodfooterlogo.png" alt="Everwood Custom Contracting" class="footer-image"></a>
      </div>
      <div>Copyright © Everwood Custom Contracting. All rights reserved.<br>Website by: <a href="https://thecodeloft.ca" class="new-footer-link">CodeLoft Consulting </a>| Photos by: <a href="https://staysunfilms.com/" class="new-footer-link">Stay Sun Films</a>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript" crossorigin="anonymous"></script>
  <script src="/static/js/webflow.js" type="text/javascript" async="" defer=""></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

<script src="/static/js/udesly-11ty.min.js" defer="" async=""></script><script>document.querySelectorAll('link[rel="preload"]').forEach(function(e) { e.rel = "stylesheet" })</script></body></html>